<!-- Loading -->
 @if (isLoading()) {
    <div class="flex justify-center items-center h-96">
        <app-loader></app-loader>
    </div>
 }

 @if (product()) {
    <div class="mb-6">
        <button (click)="goBack()" class="flex items-center text-blue-600 hover:text-blue-800 transition-colors">
             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            Back to Products
        </button>
    </div>

    <div class="rounded-lg shadow-xl p-4 md:p-8" style="background: rgba(255, 255, 255, 0.768);">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Images -->
             <div>
                <img [src]="product()?.thumbnail" [alt]="product()?.title" class="w-full h-auto rounded-lg shadow-md mb-4">
                <div class="grid grid-cols-4 gap-2">
                    @for (image of product()?.images?.slice(0,4); track $index) {
                        <img [src]="image" class="w-full h-20 object-cover rounded-md cursor-pointer hover:opacity-75 transition-opacity">
                    }
                </div>
             </div>

            <!-- product details -->
             <div>
                <span class="inline-block bg-blue-600 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded-full mb-2">{{product()?.category}}</span>
                <h1 class="text-3xl md:text-4xl font-bold mb-3">{{product()?.title}}</h1>
                <p class="text-gray-600 mb-4">{{product()?.description}}</p>

                <div class="flex items-baseline mb-4">
                    <span class="text-4xl font-bold text-blue-600">{{product()?.price | currency}}</span>
                    <span class="text-sm text-gray-500 ml-2">Stock: {{product()?.stock}}</span>
                </div>

                <div class="flex items-center mb-6">
                    <span class="text-yellow-500 text-4xl">*****</span>
                    <span class="text-gray-600 ml-2">{{product()?.rating}} out of 5</span>
                </div>

                <div class="border-t pt-4">
                    <h3 class="text-lg font-semibold mb-2">Reviews: {{product()?.reviews?.length}}</h3>
                    <div class="space-y-4 max-h-60 overflow-y-auto pr-2">
                        @for (review of product()?.reviews; track $index) {
                            <div class="border-b pb-2">
                                <div class="flex items-center mb-1">
                                    <p class="font-semibold">{{review.reviewerName}}</p>
                                    <span class="text-yellow-500 ml-3">{{ '★'.repeat(review.rating) }}{{ '☆'.repeat(5 - review.rating) }}</span>
                                </div>
                                <p class="text-gray-600 italic">{{review.comment}}</p>
                            </div>
                        }
                    </div>
                </div>
             </div>
        </div>
    </div>
 }
 @else {
    @if (!isLoading()) {
        <div class="text-center p-8 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-bold text-red-600">Product Not Found</h2>
            <p class="text-gray-600 mt-2">We couldn't find the product you were looking for.</p>
            <button (click)="goBack()" class="mt-4 px-4 py-2 bg-blue-600 rounded-lg hover:bg-blue-700">Go back</button>
        </div>
    }
 }